<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JobQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      .label-color {
        color: #439B41;
      }
      .btn-custom {
        background-color: #9ABE9E; /* Green color */
        color: #fff; /* Text color */
        border-color: #484848;/* border color */
      }
      /* Optional: Hover style for the button */
      .btn-custom:hover {
        background-color: #357e3d;
        border-color: #484848;/* Darker green color on hover */
      }
      .section-header {
        margin-bottom: 20px;
      }
      .sheet-color {
        background-color: #D8E5D9;
      }
      html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #F1F0D0, #EBFCFA);
  background-attachment: fixed;
}
    </style>
  </head>
  <body>
    {% if not user %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5 sheet-color" tabindex="-1" role="dialog" id="modalSheet">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
          <div class="modal-body p-5 pt-0">
          <form method="post" action="{{ url_for('register_user') }}">
              <div class="section-header">
                <h2>New to JobQuest? Sign up for free</h2>
              </div>
              <div class="form-floating mb-3">
                <input type="email" name="user_email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="floatingPassword" name="user_password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <button type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary btn-custom">Sign up</button>
              <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          </form>
          <form method="post" action="{{ url_for('login_user') }}">
              <hr class="my-4">
              <div class="section-header">
                <h2>Or sign in if you already have an account</h2>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" name="email">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
              </div>
              <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary btn-custom" type="submit">Sign in</button>
              <small class="text-body-secondary">By clicking Sign in, you agree to the terms of use.</small>
          </form>
              <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
            {% else %}
    <div class="container">
      {% include 'header.html' %}
      <h4 style="color: #439B41;">
      <b>User email:</b>
    </h4>
      <p>{{ user_data['user_email'] }}</p>
      <h4 style="color: #439B41;">
      <b>Account created at:</b>
    </h4>
      <p>{{ user_data['created_at'] }}</p>
      <div>
        <h4 style="color: #439B41;"><b>Log out:</b></h4>
        <a href="{{ url_for('logout') }}" class="mb-2 btn btn-lg rounded-3 btn-primary btn-custom" style="width:15%;">Log out</a>
      </div>
      <h4 style="color: #439B41;">
  <h4 style="color: #439B41;" class="mt-2 mb-4"><b>Your applications:</b></h4>
      {% for job_app in user_job_app %}
      <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <div>
      <b>Job Title: </b>
      <a href="/job/{{job_app['job_id']}}" style="color: #439B41;">{{ job_app['title'] }}</a>
    </div>
    <div>
      <b>Full Name:</b> {{ job_app['full_name'] }}
    </div>
    <div>
      <b>Email:</b> {{ job_app['email'] }}
    </div>
    <div>
      <b>Linkedin_url:</b> {{ job_app['linkedin_url'] }}
    </div>
    <div>
      <b>Education:</b> {{ job_app['education'] }}
    </div>
    <div>
      <b>Work Experience:</b> {{ job_app['work_experience'] }}
    </div>
    <div>
      <b>Created At:</b> {{ job_app['created_at'] }}
    </div>
  </div>
</div>
{% endfor %}
        <h4 style="color: #439B41;" class="mt-2 mb-4"><b>Your Job Advertisements:</b></h4>
         {% for user_job_ad in user_job_ads %}
      <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <div>
      <b>Job Title:</b> 
      <a href="/job/{{user_job_ad['id']}}" style="color: #439B41;">{{ user_job_ad['title'] }}</a>
    </div>
    <div>
      <b>Company Name:</b> {{ user_job_ad['company_name'] }}
    </div>
    <div>
      <b>Job Location:</b> {{ user_job_ad['location'] }}
    </div>
    <div>
      <b>Salary:</b> {{ user_job_ad['salary'] }}
    </div>
    <div>
      <b>Currency:</b> {{ user_job_ad['currency'] }}
    </div>
    <div>
      <b>Responsibilities:</b> {{ user_job_ad['responsibilities'] }}
    </div>
    <div>
      <b>Requirements:</b> {{ user_job_ad['requirements'] }}
    </div>
    <div>
      <b>Created At:</b> {{ user_job_ad['created_at'] }}
    </div>
    <div id="job-delete" class="mb-2 mt-4">
    <a href="#" onclick="confirmDelete('{{ url_for('delete_job_ad', id=user_job_ad['id']) }}')" class="btn btn-outline-success">Delete Job Advertisement</a>
</div>
    <div id="job-update" class="mb-2 mt-4">
    <a href="{{ url_for('update_job_advertisement', id=user_job_ad['id']) }}" class="btn btn-outline-success">Update Job Advertisement</a>
</div>
  </div>
</div>
        {% endfor %}
    </div>
      {% endif %}
    <script>
  function confirmDelete(deleteUrl) {
    let result = window.confirm("Are you sure you want to delete this job ad?");
    if (result) {
        window.location = deleteUrl;
    }
  }
</script>
  </body>
</html>