<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    .large-textarea {
      width: 100%;
      height: 100px;
    }
    .large-input, .large-textarea {
    outline: none; /* Remove the default blue outline */
    border: 2px solid #439B41; /* Set your custom border color */
}

.large-textarea {
    width: 100%;
    height: 100px;
}

.large-input {
    width: 20%;
    height: 40px;
}
    .label-color {
      color: #439B41;
      font-size: 26px;
    }

  </style>
</head>
<body>
  <div class="container">
<h4 style="text-align:center; color:#439B41; font-size:34px;">Application Form</h4>
<form action="{{ url_for('submit_application', id=job.id) }}" method="post">
  <div class="mb-2">
  <label class='label-color' style="text-align:center;">Full Name</label><br>
  <input type="text" required name="full_name" placeholder="Bruce Wayne" class="large-input">
  </div>

  <div class="mb-2">
  <label class='label-color' style="text-align:center;">Email</label><br>
  <input type="email" required name="email" placeholder="bruce@wayne.com" class="large-input">
  </div>

  <div class="mb-2">
  <label class='label-color' style="text-align:center;">LinkedIn URL</label><br>
  <input type="url" name="linkedin_url" placeholder="https://linked.com/in/brucewayne" class="large-input">
  </div>

  <div class="mb-2">
    <label class='label-color' style="text-align:center;">Education</label><br>
    <textarea name="education" class="large-textarea"></textarea>
  </div>

  <div class="mb-2">
    <label class='label-color' style="text-align:center;">Work Experience</label><br>
    <textarea name="work_experience" class="large-textarea"></textarea>
  </div>

  <div class="mb-2">
  <label class='label-color' style="text-align:center;">Resume URL</label><br>
  <input type="url" name="resume_url" class="large-input">
  </div>
  <input type="submit" style="text-align:center;">
</form>
  </div>
</body>