<div>
  <p>Application Form For The Job {{job['title']}} Submitted. Good luck!</p>
</div>
<p>You passed the following information:</p>
<b>Full name:</b>
<div>
  {{application['full_name']}}</div>
<b>Email:</b>
<div>
  {{application['email']}}</div>
<b>LinkedIn url:</b>
<div>
  {{application['linkedin_url']}}</div>
<b>Education:</b>
<div>
  {{application['education']}}</div>
<b>Work Experience:</b>
<div>
  {{application['work_experience']}}</div></div>
<b>Resume Url:</b>
<div>
  {{application['resume_url']}}</div></div>