<style>
    .bg-green {
        background-color: #B5D9B4 !important; /* Set the background color to green */
    }
</style>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{'active bg-green' if request.path == '/' else ''}}" style="color:#439B41; font-size: 20px;" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/" class="nav-link {{'active bg-green' if request.path == '/account' else ''}}" style="color:#439B41; font-size: 20px;" aria-current="page">Your Account</a></li>
        <li class="nav-item"><a href="/" class="nav-link {{'active bg-green' if request.path == '/addjob' else ''}}" style="color:#439B41; font-size: 20px;" aria-current="page">Add Job Advertisement</a></li>
      </ul>
    </header>
  </div>