<style>
    .bg-green {
        background-color: #B5D9B4 !important; /* Set the background color to green */
    }
</style>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{'active bg-green' if request.path == '/' else ''}}" style="color:#439B41; font-size: 20px;" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/features" class="nav-link {{'active bg-green' if request.path == '/features' else ''}}" style="color:#439B41; font-size: 20px;">Features</a></li>
        <li class="nav-item"><a href="/questions" class="nav-link {{'active bg-green' if request.path == '/questions' else ''}}" style="color:#439B41; font-size: 20px;">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link {{'active bg-green' if request.path == '/about' else ''}}" style="color:#439B41; font-size: 20px;">About</a></li>
        <li class="nav-item"><a href="mailto:przykladowymail@gmail.com?subject=Question about the blog" class="nav-link" style="color:#439B41; font-size: 20px;">Contact Us</a></li>
      </ul>
    </header>
  </div>