<!DOCTYPE html>
<html>
  <head>
    <title>Careers App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        height: 20%;
        width: 100%;
      }
      p {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    {%include 'header.html'%}
    <div class="container">
      <h1 style="text-align:center;" class="mt-2 mb-4">JobQuest</h1>
      <h2 style="text-align:center;" class="mt-2 mb-4">Open positions:</h2>
      <form action="/filter" method="post">
      <div class="filter">
        <label for="title-filter">Title:</label>
        <select id="title-filter" name="title-filter">
            <option value="">All</option>
            {% for title in unique_titles %}
                <option value="{{ title }}">{{ title }}</option>
            {% endfor %}
        </select>
      <<label for="location-filter">Location:</label>
        <select id="location-filter" name="location-filter">
            <option value="">All</option>
            {% for location in unique_locations %}
                <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select>
        <label for="currency-filter">Currency:</label>
        <select id="currency-filter" name="currency-filter">
            <option value="">All</option>
            {% for currency in unique_currencies %}
                <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select>
        <button type="submit">Apply Filters</button>
        </div>
      </form>
      {% include 'jobitem.html' %}
      {%include 'footer.html'%}
    </div>
  </body>
</html>

