<!DOCTYPE html>
<html>
  <head>
    <title>{{job.title}} - Careers App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        height: 20%;
        width: 100%;
      }
      p {
        text-align: justify;
      }
     body {
    background: linear-gradient(to bottom,#EEFFFB, #E9FFFD);
      }
    </style>
  </head>
  <body>
  {%include 'header.html'%}
    <div class="container">
    <h4 style="color: #439B41;">
      Job Title
    </h4>
      <p>
        {{job.title}}
      </p>
    <h4 style="color: #439B41;">
      Location:
    </h4>
      <p>
        {{job.location}}
      </p>
    {% if 'salary' in job %}
    <h4 style="color: #439B41;">
      Salary:
    </h4>
      <p>
        {{job.salary}}
      </p>
    {% endif %}
    {% if 'currency' in job %}
    <h4 style="color: #439B41;">
      Currency:
    </h4> 
      <p>
        {{job.currency}}
      </p>
    {% endif %}
    {% if 'responsibilities' in job %}
    <h4 style="color: #439B41;">
      Responsibilities:
    </h4> 
      <p>
        <ul>
          {% for line in job.responsibilities.split("\n") %}
          <li>{{line}}</li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}
    {% if 'requirements' in job %}
    <h4 style="color: #439B41;">
      Requirements:
    </h4> 
      <p>
        <ul>
          {% for line in job.requirements.split("\n") %}
          <li>{{line}}</li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}
      <div id="job-apply" style="text-align:center">
    <a href="{{ url_for('application_form', id=job.id) }}" class="btn btn-outline-success">Apply</a>
</div>
    </div> 
  </body>
</html>