<head>
  <style>
    h3 {
      color: #1a1a1a;
      font-size: 20px;
      margin-bottom: 10px;
    }
  </style>
</head>
<div class="border-bottom" style="margin-bottom:16px;">
  <div class="row">
    <div class="col-10">
      <div class="job-offer">
        <h2 class="job-title" style="margin-top:2px; margin-bottom:4px; color:#439B41;">Data Scientist</h2>
        <h3 class="job-location" style="mt-b2 mb-4"><b>Location:</b> London</h3>
        <h3 class="job-salary" style="mt-2 mb-4"><b>Salary:</b> £50,000</h3>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-success">Apply</button>
    </div>
  </div>
</div>
<div class="border-bottom" style="margin-bottom:16px;">
  <div class="row">
    <div class="col-10">
      <div class="job-offer">
        <h2 class="job-title" style="margin-top:2px; margin-bottom:4px; color:#439B41;">Data Analyst</h2>
        <h3 class="job-location" style="mt-b2 mb-4"><b>Location:</b> New York</h3>
        <h3 class="job-salary" style="mt-2 mb-4"><b>Salary:</b> $52,000</h3>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-success">Apply</button>
    </div>
  </div>
</div>
<div class="border-bottom" style="margin-bottom:16px;">
  <div class="row">
    <div class="col-10">
      <div class="job-offer">
        <h2 class="job-title" style="margin-top:2px; margin-bottom:4px; color:#439B41;">Machine Learning Engineer</h2>
        <h3 class="job-location" style="mt-b2 mb-4"><b>Location:</b> Manchester</h3>
        <h3 class="job-salary" style="mt-2 mb-4"><b>Salary: </b>£55,000</h3>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-success">Apply</button>
    </div>
  </div>
</div>